<div class="col-xs-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Litros</th>
                <th>Precio</th>

            </tr>
        </thead>
        <tbody>
            {% for producto in productos %} 
                <tr>
                    <td><a href="#" id="clickingEvent" class="btn btn-success pop" rel="example">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>

                    </td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.litros }}</td>
                    <td>{{ producto.precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <div id="example" class="flora" title="This is my title">
        I'm in a dialog!
        <div id="exampleContainer"></div>
    </div>
</div>
<div class="clearfix"></div>
