{% extends 'AgpBundle:Default:_layout.html.twig' %}
{% form_theme form 'CoreBundle:Form:form.html.twig' %}

{% block contenido %}
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="content-box">
          <div class="content-box-header">
            <h3 class="title title-item">Alta de cliente</h3>
          </div>
          <form accept-charset="UTF-8" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{{ path('cliente_create') }}">
            {{ form_widget(form) }}  
            
            <p class="botones text-right content-bottom">         
                <input type="submit" class="guardar btn btn-success" value="Guardar" />
                <a href="{{ path('cliente') }}" class="guardar btn btn_gris">Volver</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
