{% set tipo_mensajes = app.session.flashBag.all %}
{% if tipo_mensajes|length > 0 %}
    {% for key,  messages in tipo_mensajes %}
        {% for  message in messages %}
  
            <div role="alert" class="alert alert-{{ key }} alert-dismissible fade in{% if key == "error" %} alert-danger{% endif %}">
                  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span>
                  </button>
                  <strong>Atención!</strong> {{ message |raw}}.
                </div>
        {% endfor %}
    {% endfor %}
{% endif %}
 